In [31]:
# [Student: Samuel] Import necessary libraries
import pandas as pd
import random

# [Student: Samuel] Set a seed
random.seed(123)

# [Student: Samuel] Define a pool of 30 unique supermarket items
item_pool = [
    'milk', 'bread', 'eggs', 'butter', 'cheese', 'apples', 'bananas', 'chicken', 'beef', 'rice',
    'pasta', 'sugar', 'salt', 'pepper', 'onions', 'tomatoes', 'lettuce', 'carrots', 'potatoes', 'cereal',
    'yogurt', 'juice', 'soda', 'coffee', 'tea', 'biscuits', 'chocolate', 'detergent', 'soap', 'toothpaste'
]

# [Student: Samuel] Set number of transactions to simulate
num_transactions = 3000

# [Student: Samuel] Generate a list of transactions
transactions = []
for _ in range(num_transactions):
    # Randomly choose 2 to 7 items per transaction
    num_items = random.randint(2, 7)
    transaction = random.sample(item_pool, num_items)
    transactions.append(transaction)

# [Student: Samuel] Convert list of transactions into a DataFrame for saving
df_transactions = pd.DataFrame({'Transaction': transactions})

# [Student: Samuel] Save simulated transactions to CSV
df_transactions.to_csv('supermarket_transactions.csv', index=False)

# [Student: Samuel] preview
df_transactions.head()

                                         Transaction
0                                       [beef, eggs]
1         [beef, butter, chocolate, soap, detergent]
2                                    [salt, carrots]
3  [pasta, toothpaste, detergent, bread, apples, ...
4                    [carrots, pasta, soda, chicken]